In [117]:
import pandas as pd
import pycountry_convert as pc
import numpy as np
import statistics as sts

In [118]:
dataset=pd.read_csv('Forbes_2000_top_company_CLNQ11.csv',delimiter=',')
dataset.head()

,2022 Ranking,Organization Name,Industry,Country,Year Founded,CEO,Revenue (Billions),Profits (Billions),Assets (Billions),Market Value (Billions),Total Employees
0,1,Berkshire Hathaway,Diversified Financials,United States,1939,Warren Edward Buffett,276.09,89.80,958.78,741.48,372000.0
1,2,ICBC,Banking,China,1984,Shu Gu,208.13,54.03,5518.51,214.42,449296
2,3,Saudi Arabian Oil Company (Saudi Aramco),Oil & Gas Operations,Saudi Arabia,1933,Amin bin Hasan Al-Nasser,400.38,105.36,576.04,2292.08,68493.0
3,4,JPMorgan Chase,Diversified Financials,United States,2000,Jamie Dimon,124.54,42.12,3954.69,374.45,271025.0
4,5,China Construction Bank,Banking,China,2014,Wang Zuji,202.07,46.89,4746.95,181.32,352621

In [119]:
dataset1=dataset.copy()
dataset1

,2022 Ranking,Organization Name,Industry,Country,Year Founded,CEO,Revenue (Billions),Profits (Billions),Assets (Billions),Market Value (Billions),Total Employees
0,1,Berkshire Hathaway,Diversified Financials,United States,1939,Warren Edward Buffett,276.09,89.80,958.78,741.48,372000.0
1,2,ICBC,Banking,China,1984,Shu Gu,208.13,54.03,5518.51,214.42,449296
2,3,Saudi Arabian Oil Company (Saudi Aramco),Oil & Gas Operations,Saudi Arabia,1933,Amin bin Hasan Al-Nasser,400.38,105.36,576.04,2292.08,68493.0
3,4,JPMorgan Chase,Diversified Financials,United States,2000,Jamie Dimon,124.54,42.12,3954.69,374.45,271025.0
4,5,China Construction Bank,Banking,China,2014,Wang Zuji,202.07,46.89,4746.95,181.32,352621
...,...,...,...,...,...,...,...,...,...,...,...
1994,1995,Aperam,Materials,Luxembourg,2010,Timoteo di Maulo,6.03,1.14,6.72,3.16,0
1995,1995,Shenzhen Feima International Supply Chain,Business Services & Supplies,China,1998,Shan Min Huang,0.04,1.41,0.17,1.14,306.0
1996,1997,NMDC,Materials,India,1958,Sumit Deb,3.52,1.41,5.72,6.40,16944.0
1997,1997,Sichuan Changhong Electric,Consumer Durables,China,1988,Wei Li,15.72,0.05,12.10,1.96,51841.0
1998,1999,Satellite Chemical,Chemicals,China,0,No Data,4.41,0.93,7.64,9.52,3409.0

In [120]:
dataset1=dataset1[dataset1['Year Founded']!=0]
dataset1

,2022 Ranking,Organization Name,Industry,Country,Year Founded,CEO,Revenue (Billions),Profits (Billions),Assets (Billions),Market Value (Billions),Total Employees
0,1,Berkshire Hathaway,Diversified Financials,United States,1939,Warren Edward Buffett,276.09,89.80,958.78,741.48,372000.0
1,2,ICBC,Banking,China,1984,Shu Gu,208.13,54.03,5518.51,214.42,449296
2,3,Saudi Arabian Oil Company (Saudi Aramco),Oil & Gas Operations,Saudi Arabia,1933,Amin bin Hasan Al-Nasser,400.38,105.36,576.04,2292.08,68493.0
3,4,JPMorgan Chase,Diversified Financials,United States,2000,Jamie Dimon,124.54,42.12,3954.69,374.45,271025.0
4,5,China Construction Bank,Banking,China,2014,Wang Zuji,202.07,46.89,4746.95,181.32,352621
...,...,...,...,...,...,...,...,...,...,...,...
1992,1993,Onex,Diversified Financials,Canada,1980,Gerald W. Schwartz,0.34,1.41,12.46,5.25,536.0
1994,1995,Aperam,Materials,Luxembourg,2010,Timoteo di Maulo,6.03,1.14,6.72,3.16,0
1995,1995,Shenzhen Feima International Supply Chain,Business Services & Supplies,China,1998,Shan Min Huang,0.04,1.41,0.17,1.14,306.0
1996,1997,NMDC,Materials,India,1958,Sumit Deb,3.52,1.41,5.72,6.40,16944.0
1997,1997,Sichuan Changhong Electric,Consumer Durables,China,1988,Wei Li,15.72,0.05,12.10,1.96,51841.0

In [121]:
dataset1=dataset1[dataset1['Total Employees']!=0]
dataset1

,2022 Ranking,Organization Name,Industry,Country,Year Founded,CEO,Revenue (Billions),Profits (Billions),Assets (Billions),Market Value (Billions),Total Employees
0,1,Berkshire Hathaway,Diversified Financials,United States,1939,Warren Edward Buffett,276.09,89.80,958.78,741.48,372000.0
1,2,ICBC,Banking,China,1984,Shu Gu,208.13,54.03,5518.51,214.42,449296
2,3,Saudi Arabian Oil Company (Saudi Aramco),Oil & Gas Operations,Saudi Arabia,1933,Amin bin Hasan Al-Nasser,400.38,105.36,576.04,2292.08,68493.0
3,4,JPMorgan Chase,Diversified Financials,United States,2000,Jamie Dimon,124.54,42.12,3954.69,374.45,271025.0
4,5,China Construction Bank,Banking,China,2014,Wang Zuji,202.07,46.89,4746.95,181.32,352621
...,...,...,...,...,...,...,...,...,...,...,...
1992,1993,Onex,Diversified Financials,Canada,1980,Gerald W. Schwartz,0.34,1.41,12.46,5.25,536.0
1994,1995,Aperam,Materials,Luxembourg,2010,Timoteo di Maulo,6.03,1.14,6.72,3.16,0
1995,1995,Shenzhen Feima International Supply Chain,Business Services & Supplies,China,1998,Shan Min Huang,0.04,1.41,0.17,1.14,306.0
1996,1997,NMDC,Materials,India,1958,Sumit Deb,3.52,1.41,5.72,6.40,16944.0
1997,1997,Sichuan Changhong Electric,Consumer Durables,China,1988,Wei Li,15.72,0.05,12.10,1.96,51841.0

In [122]:
country=[dataset1['Country']]
country[0]

0       United States
1               China
2        Saudi Arabia
3       United States
4               China
            ...
1992           Canada
1994       Luxembourg
1995            China
1996            India
1997            China
Name: Country, Length: 1903, dtype: object

In [123]:
def country_to_continent(country_name):
    country_alpha2 = pc.country_name_to_country_alpha2(country_name)
    country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    return country_continent_name

In [124]:
continents=[]
for i in country[0]:
    continents.append(country_to_continent(i))
continents

['North America',
 'Asia',
 'Asia',
 'North America',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'North America',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'North America',
 'Europe',
 'Asia',
 'North America',
 'North America',
 'North America',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'Europe',
 'North America',
 'North America',
 'Asia',
 'Europe',
 'Asia',
 'Asia',
 'North America',
 'Asia',
 'North America',
 'Europe',
 'North America',
 'North America',
 'Europe',
 'Europe',
 'North America',
 'Europe',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'North America',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Europe',
 'Asia',
 'Asia',
 'North America',
 'Europe',
 'Asia',
 'North America',
 'Europe',
 'South America',
 'Europe',
 'North America',
 'Europe',
 'North America',
 'Europe',
 'Asia',
 'Europe',
 'Asia',
 'North America',
 'Oceania',
 'North America',
 'North America',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'Europe',
 'North America',
 'Europe',
 'North America',
 'Europe',
 'Asia',
 'Europe',
 'North America',
 'Europe',
 'North America',
 'Europe',
 'Europe',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Oceania',
 'Asia',
 'North America',
 'Europe',
 'Europe',
 'North America',
 'North America',
 'North America',
 'North America',
 'Europe',
 'North America',
 'South America',
 'Europe',
 'North America',
 'Europe',
 'Europe',
 'North America',
 'Asia',
 'Europe',
 'North America',
 'Asia',
 'North America',
 'Europe',
 'Europe',
 'North America',
 'North America',
 'Europe',
 'Asia',
 'North America',
 'Europe',
 'Asia',
 'South America',
 'North America',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'Europe',
 'North America',
 'North America',
 'Asia',
 'Europe',
 'Europe',
 'Asia',
 'North America',
 'North America',
 'Europe',
 'Europe',
 'North America',
 'North America',
 'Europe',
 'North America',
 'North America',
 'Europe',
 'Europe',
 'Europe',
 'Asia',
 'Europe',
 'North America',
 'North America',
 'Oceania',
 'North America',
 'North America',
 'Europe',
 'Asia',
 'North America',
 'Europe',
 'Europe',
 'South America',
 'Europe',
 'Europe',
 'North America',
 'Asia',
 'Europe',
 'Europe',
 'North America',
 'Asia',
 'North America',
 'Oceania',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'Europe',
 'Asia',
 'Oceania',
 'Asia',
 'North America',
 'Europe',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'Asia',
 'North America',
 'North America',
 'North America',
 'Asia',
 'North America',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'Europe',
 'Europe',
 'North America',
 'North America',
 'Asia',
 'North America',
 'Europe',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'Asia',
 'Europe',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Europe',
 'North America',
 'North America',
 'North America',
 'North America',
 'Asia',
 'Europe',
 'North America',
 'Asia',
 'North America',
 'Asia',
 'Asia',
 'North America',
 'Europe',
 'Asia',
 'North America',
 'North America',
 'Europe',
 'Asia',
 'North America',
 'North America',
 'South America',
 'North America',
 'Asia',
 'North America',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'North America',
 'Europe',
 'North America',
 'Asia',
 'Europe',
 'North America',
 'Europe',
 'Asia',
 'Europe',
 'Europe',
 'Asia',
 'Europe',
 'Europe',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'South America',
 'Europe',
 'Asia',
 'Europe',
 'North America',
 'Europe',
 'Europe',
 'North America',
 'North America',
 'North America',
 'North America',
 'Europe',
 'Europe',
 'Asia',
 'North America',
 'North America',
 'Oceania',
 'Asia',
 'Europe',
 'North America',
 'Europe',
 'North America',
 'North America',
 'North America',
 'Europe',
 'Asia',
 'Europe',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'Europe',
 'Europe',
 'Asia',
 'Europe',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'Europe',
 'North America',
 'Europe',
 'North America',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'North America',
 'Asia',
 'Europe',
 'Europe',
 'Asia',
 'North America',
 'Asia',
 'North America',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'Europe',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'Europe',
 'Oceania',
 'Asia',
 'North America',
 'Oceania',
 'Asia',
 'North America',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'Europe',
 'Europe',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'Europe',
 'Asia',
 'Europe',
 'Asia',
 'Europe',
 'South America',
 'Asia',
 'North America',
 'North America',
 'North America',
 'Europe',
 'Asia',
 'Asia',
 'Asia',
 'Europe',
 'Europe',
 'Asia',
 'Europe',
 'Asia',
 'Europe',
 'Europe',
 'Asia',
 'Europe',
 'Asia',
 'Europe',
 'Asia',
 'North America',
 'Asia',
 'Europe',
 'North America',
 'Asia',
 'Europe',
 'North America',
 'Europe',
 'North America',
 'North America',
 'Asia',
 'North America',
 'North America',
 'Europe',
 'North America',
 'Europe',
 'Europe',
 'North America',
 'North America',
 'North America',
 'Europe',
 'North America',
 'North America',
 'North America',
 'Africa',
 'Africa',
 'North America',
 'Europe',
 'Europe',
 'North America',
 'Europe',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'Europe',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'Asia',
 'North America',
 'Africa',
 'Europe',
 'Asia',
 'Europe',
 'Europe',
 'Asia',
 'North America',
 'Europe',
 'Europe',
 'Europe',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'Asia',
 'Europe',
 'Asia',
 'North America',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Europe',
 'Europe',
 'Europe',
 'North America',
 'Asia',
 'North America',
 'North America',
 'Europe',
 'North America',
 'North America',
 'North America',
 'Asia',
 'Europe',
 'Europe',
 'Asia',
 'Asia',
 'North America',
 'Asia',
 'Asia',
 'Europe',
 'North America',
 'Europe',
 'North America',
 'North America',
 'Europe',
 'North America',
 'Europe',
 'Europe',
 'North America',
 'Asia',
 'Europe',
 'Europe',
 'North America',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'Europe',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'Oceania',
 'North America',
 'North America',
 'Asia',
 'North America',
 'North America',
 'Europe',
 'Europe',
 'North America',
 'North America',
 'North America',
 'Europe',
 'Asia',
 'Oceania',
 'Asia',
 'North America',
 'North America',
 'North America',
 'North America',
 'Asia',
 'North America',
 'Europe',
 'North America',
 'North America',
 'Europe',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'Europe',
 'North America',
 'Asia',
 'North America',
 'North America',
 'Europe',
 'North America',
 'Europe',
 'Asia',
 'Europe',
 'North America',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'North America',
 'Oceania',
 'Europe',
 'North America',
 'North America',
 'North America',
 'North America',
 'Europe',
 'Asia',
 'North America',
 'Europe',
 'Europe',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'North America',
 'North America',
 'Asia',
 'North America',
 'Asia',
 'North America',
 'Asia',
 'North America',
 'Europe',
 'Asia',
 'North America',
 'Asia',
 'Europe',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'Europe',
 'North America',
 'Asia',
 'Asia',
 'Europe',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'Europe',
 'Asia',
 'North America',
 'Asia',
 'North America',
 'Europe',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'Asia',
 'Europe',
 'North America',
 'North America',
 'Asia',
 'North America',
 'Asia',
 'Europe',
 'North America',
 'Asia',
 'Europe',
 'Asia',
 'Asia',
 'North America',
 'Asia',
 'North America',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'North America',
 'Europe',
 'Europe',
 'North America',
 'Asia',
 'North America',
 'Asia',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'Asia',
 'Europe',
 'North America',
 'North America',
 'North America',
 'Asia',
 'Europe',
 'Europe',
 'North America',
 'North America',
 'Europe',
 'Asia',
 'North America',
 'Asia',
 'Asia',
 'North America',
 'Europe',
 'Asia',
 'Europe',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'North America',
 'Asia',
 'North America',
 'Asia',
 'Asia',
 'Europe',
 'Asia',
 'Asia',
 'North America',
 'Asia',
 'Asia',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'Europe',
 'Asia',
 'Europe',
 'Asia',
 'Europe',
 'Asia',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'Europe',
 'North America',
 'Asia',
 'North America',
 'Europe',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'Asia',
 'Europe',
 'South America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Oceania',
 'Asia',
 'Europe',
 'Asia',
 'North America',
 'Europe',
 'Europe',
 'Asia',
 'North America',
 'Asia',
 'Europe',
 'North America',
 'Europe',
 'North America',
 'Asia',
 'North America',
 'Europe',
 'Asia',
 'Asia',
 'Europe',
 'Asia',
 'Europe',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'Asia',
 'North America',
 'Europe',
 'Europe',
 'Asia',
 'Asia',
 'Africa',
 'Europe',
 'Asia',
 'Asia',
 'Europe',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'South America',
 'Europe',
 'Asia',
 'Oceania',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'Europe',
 'Africa',
 'Europe',
 'North America',
 'North America',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'Asia',
 'Europe',
 'North America',
 'North America',
 'North America',
 'Europe',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'Europe',
 'Asia',
 'Asia',
 'North America',
 'Asia',
 'Europe',
 'Asia',
 'Europe',
 'North America',
 'Europe',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'Europe',
 'Asia',
 'North America',
 'Europe',
 'Europe',
 'Asia',
 'Asia',
 'Europe',
 'Europe',
 'Asia',
 'Asia',
 'Europe',
 'Asia',
 'Europe',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'Oceania',
 'Asia',
 'Asia',
 'Asia',
 'South America',
 'Europe',
 'North America',
 'Asia',
 'North America',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Europe',
 'Asia',
 'Asia',
 'Asia',
 'North America',
 'Europe',
 'Europe',
 'North America',
 'Asia',
 'Europe',
 'North America',
 'Asia',
 'North America',
 'North America',
 'Asia',
 'North America',
 'North America',
 'Europe',
 'Europe',
 'Asia',
 'Asia',
 'Europe',
 'North America',
 'Asia',
 'Europe',
 'Asia',
 'Asia',
 'Europe',
 'Asia',
 'North America',
 'Europe',
 'North America',
 'Europe',
 'Africa',
 'Asia',
 'Asia',
 'North America',
 'Asia',
 'South America',
 'Asia',
 'Asia',
 'North America',
 'Oceania',
 'Europe',
 'Europe',
 'North America',
 'Asia',
 'South America',
 'North America',
 'Asia',
 'North America',
 'Asia',
 'North America',
 'North America',
 'Europe',
 'North America',
 'Asia',
 'Asia',
 'Africa',
 'North America',
 'North America',
 'South America',
 'North America',
 'Asia',
 'Asia',
 'North America',
 'Europe',
 'Asia',
 'Asia',
 'North America',
 'Asia',
 'North America',
 'South America',
 'Asia',
 'Asia',
 'Europe',
 'Asia',
 'South America',
 'Asia',
 'North America',
 'North America',
 'Europe',
 'North America',
 'Asia',
 'North America',
 'Asia',
 'Asia',
 'North America',
 'South America',
 'Asia',
 'Asia',
 'Asia',
 'Europe',
 'Asia',
 'North America',
 'North America',
 'Asia',
 ...]

In [125]:
dataset1['Continents']=continents

In [126]:
dataset1['Continents'].value_counts(normalize=True)*100

Asia             40.147136
North America    33.946400
Europe           21.912769
South America     1.681555
Oceania           1.418812
Africa            0.893326
Name: Continents, dtype: float64

In [127]:
profits=[round(dataset1[dataset1['Continents']=='Asia']['Profits (Billions)'].sum(),2),
round(dataset1[dataset1['Continents']=='North America']['Profits (Billions)'].sum(),2),
round(dataset1[dataset1['Continents']=='Europe']['Profits (Billions)'].sum(),2),
round(dataset1[dataset1['Continents']=='South America']['Profits (Billions)'].sum(),2),
round(dataset1[dataset1['Continents']=='Oceania']['Profits (Billions)'].sum(),2),
round(dataset1[dataset1['Continents']=='Africa']['Profits (Billions)'].sum(),2)]

In [128]:
profits

[1589.04, 2040.82, 1093.76, 92.16, 74.36, 30.49]

In [129]:
dataset_south_america=dataset1[dataset1['Continents']=='South America']
dataset_brazil=dataset_south_america[dataset_south_america['Country']=='Brazil']
dataset_brazil

,2022 Ranking,Organization Name,Industry,Country,Year Founded,CEO,Revenue (Billions),Profits (Billions),Assets (Billions),Market Value (Billions),Total Employees,Continents
64,65,Petrobras,Oil & Gas Operations,Brazil,1953,José Mauro Ferreira,83.89,19.77,174.68,83.98,45532.0,South America
117,118,Vale,Materials,Brazil,1942,Eduardo De Salles Bartolomeo,54.40,22.47,89.61,82.02,72266.0,South America
137,138,Itaú Unibanco Holding,Banking,Brazil,1944,Milton Maluhy Filho,35.96,4.96,372.30,52.89,99600.0,South America
181,182,Banco Bradesco,Banking,Brazil,1943,Octávio de Lazari Jr.,28.33,4.07,296.89,43.16,87274.0,South America
267,268,Banco do Brasil,Banking,Brazil,1808,Fausto de Andrade Ribeiro,29.54,3.40,362.53,20.70,84597.0,South America
400,401,JBS,"Food, Drink & Tobacco",Brazil,1953,Gilberto Tomazoni,64.99,3.80,37.18,17.48,250000.0,South America
773,774,Banco Btg Pactual,Diversified Financials,Brazil,1979,Roberto Balls Sallouti,2.72,0.85,68.31,56.14,0,South America
952,953,Braskem,Chemicals,Brazil,2002,Roberto Lopes Pontes Simões,19.57,2.59,16.62,6.76,7500,South America
961,962,Gerdau (Cosigua),Materials,Brazil,1901,Gustavo Werneck da Cunha,14.52,2.87,13.25,10.16,0,South America
991,992,Suzano Papel e Celulose,Materials,Brazil,1924,Walter Schalka,7.59,1.60,21.36,14.66,37000.0,South America
1002,1002,Eletrobrás,Utilities,Brazil,1962,Rodrigo Limp Nascimento,6.97,1.05,33.42,13.42,12126.0,South America
1141,1142,Itaúsa,Conglomerates,Brazil,1966,Alfredo Egydio Setubal,1.51,2.26,15.44,18.42,126000,South America
1323,1324,CSN,Materials,Brazil,1941,Benjamin Steinbruch,8.88,2.27,14.25,6.22,35179.0,South America
1457,1458,XP,IT Software & Services,Brazil,2001,Thiago Maffra,2.32,0.67,25.02,14.29,0,South America
1469,1470,Metalurgica Gerdau,Materials,Brazil,1901,Gustavo Werneck da Cunha,14.52,0.90,13.40,2.60,0,South America
1494,1495,Marfrig Global Foods,"Food, Drink & Tobacco",Brazil,1986,Miguel de Souza Gularte,15.82,0.80,8.62,2.62,31779.0,South America
1538,1539,B3,Diversified Financials,Brazil,1890,Gilson Finkelsztain,1.71,0.87,9.63,18.37,2135,South America
1544,1545,WEG,Capital Goods,Brazil,1961,Harry Schmelzer,4.37,0.66,4.30,27.68,36987.0,South America
1650,1649,Usiminas,Materials,Brazil,1953,Sérgio Leite de Andrade,6.47,1.75,8.23,3.10,0,South America
1852,1853,CPFL Energia,Utilities,Brazil,1912,Gustavo Estrella,7.27,0.88,11.87,8.47,13008],South America

In [130]:
dataset_brazil[['Revenue (Billions)','Profits (Billions)','Market Value (Billions)']].corr().style.background_gradient(cmap='Blues')